[Desktop Entry]
Encoding=UTF-8
Name=Link to handson-ml/16_reinforcement_learning.ipynb at master · ageron/handson-ml · GitHub
Type=Link
URL=https://github.com/ageron/handson-ml/blob/master/16_reinforcement_learning.ipynb
Icon=text-html
Name[en_US]=handson-ml/16_reinforcement_learning.ipynb at master · ageron/handson-ml · GitHub
