[Desktop Entry]
Encoding=UTF-8
Name=Link to Image Classification using Flowers dataset  |  Cloud ML Engine for TensorFlow  |  Google Cloud
Type=Link
URL=https://cloud.google.com/ml-engine/docs/tensorflow/flowers-tutorial
Icon=text-html
Name[en_US]=Image Classification using Flowers dataset
