[Desktop Entry]
Encoding=UTF-8
Name=Link to Serverless Machine Learning
Type=Link
URL=https://codelabs.developers.google.com/codelabs/dataeng-machine-learning/#0
Icon=text-html
Name[en_US]=Serverless Machine Learning
