[Desktop Entry]
Encoding=UTF-8
Name=Link to Using Distributed TensorFlow with Cloud ML Engine and Cloud Datalab  |  Cloud ML Engine for TensorFlow  |  Google Cloud
Type=Link
URL=https://cloud.google.com/ml-engine/docs/tensorflow/distributed-tensorflow-mnist-cloud-datalab
Icon=text-html
Name[en_US]=Using Distributed TensorFlow with Cloud ML Engine and Cloud Datalab
