[Desktop Entry]
Encoding=UTF-8
Name=Link to UFLDL Tutorial - Ufldl
Type=Link
URL=http://deeplearning.stanford.edu/wiki/index.php/UFLDL_Tutorial
Icon=text-html
Name[en_US]=Unsupervised feature learning and deep learning tutorial
