[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - martin-gorner/tensorflow-rnn-shakespeare: Code from the "Tensorflow and deep learning - without a PhD, Part 2" session on Recurrent Neural Networks.
Type=Link
URL=https://github.com/martin-gorner/tensorflow-rnn-shakespeare/
Icon=text-html
Name[en_US]=Tensorflow and deep learning - without a PhD, Part 2 session on Recurrent Neural Networks.
