[Desktop Entry]
Encoding=UTF-8
Name=Link to TensorFlow and deep learning, without a PhD
Type=Link
URL=https://codelabs.developers.google.com/codelabs/cloud-tensorflow-mnist/#5
Icon=text-html
